<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345898666160-goc4ugef2eth8kr5et93vnv0bk77rs2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345898666160-goc4ugef2eth8kr5et93vnv0bk77rs2t</string>
	<key>API_KEY</key>
	<string>AIzaSyAbgJS57xtDuXtvLyOZ_wzBqS43knNgJ3w</string>
	<key>GCM_SENDER_ID</key>
	<string>345898666160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-cd3a1</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-cd3a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345898666160:ios:9be73c9c6eb4c00d515375</string>
</dict>
</plist>